<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TranslationAutomated.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TranslationAutomated.Properties.Settings>
            <setting name="WindowSize" serializeAs="String">
                <value>600, 650</value>
            </setting>
            <setting name="WindowLocation" serializeAs="String">
                <value>20, 20</value>
            </setting>
            <setting name="inputBox" serializeAs="String">
                <value />
            </setting>
            <setting name="outputBox" serializeAs="String">
                <value />
            </setting>
            <setting name="comboBoxFromLanguage" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="tabs" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="textBoxBkUpDir" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxLogFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="checkBoxRecursive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkBoxBackupFilesBeforeTranslation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaxTranslateLen" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="MaxThread" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="comboBoxItemsPerTransaltionRequest" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="comboBoxScreenVerbosityLevel" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="comboBoxLogFileVerbosityLevel" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="comboBoxAddOriginalSrcTextToComment" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="checkBoxDeleteLangResxFilesBeforeTranslation"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkBoxDispalyWarningPrompts" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="checkBoxOnStartupSetPreviousSessionLangSet" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="checkBoxAddSubLangToDefaultSet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkBoxDispalySummary" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="comboBoxDefaultLanguageSet" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="SelectedLanguageSet" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="comboBoxFromLang" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="comboBoxToLang" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="textBoxTextToTranslate" serializeAs="String">
                <value />
            </setting>
        </TranslationAutomated.Properties.Settings>
    </userSettings>
</configuration>