<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="New Rule Set" Description=" " ToolsVersion="17.0">
  <Rules AnalyzerId="DocumentationAssistant" RuleNamespace="DocumentationAssistant">
    <Rule Id="ClassDocumentationHeader" Action="None" />
    <Rule Id="ConstFieldDocumentationHeader" Action="None" />
    <Rule Id="ConstructorDocumentationHeader" Action="None" />
    <Rule Id="EnumDocumentationHeader" Action="None" />
    <Rule Id="InterfaceDocumentationHeader" Action="None" />
    <Rule Id="MethodDocumentationHeader" Action="None" />
    <Rule Id="PropertyDocumentationHeader" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1801" Action="Warning" />
    <Rule Id="CA1804" Action="Warning" />
    <Rule Id="CA1823" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp" RuleNamespace="Microsoft.CodeAnalysis.CSharp">
    <Rule Id="CS0458" Action="Error" />
    <Rule Id="CS0472" Action="Error" />
    <Rule Id="CS1720" Action="Error" />
    <Rule Id="CS8020" Action="Error" />
    <Rule Id="CS8073" Action="Error" />
    <Rule Id="CS8601" Action="Info" />
    <Rule Id="CS8602" Action="Info" />
    <Rule Id="CS8603" Action="Info" />
    <Rule Id="CS8604" Action="Info" />
    <Rule Id="CS8768" Action="Info" />
    <Rule Id="CS8769" Action="Info" />
    <Rule Id="CS8774" Action="Info" />
    <Rule Id="CS8775" Action="Info" />
    <Rule Id="CS8777" Action="Info" />
    <Rule Id="CS8819" Action="Info" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.CodeStyle" RuleNamespace="Microsoft.CodeAnalysis.CSharp.CodeStyle">
    <Rule Id="IDE0051" Action="Error" />
    <Rule Id="IDE0060" Action="Error" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.Features" RuleNamespace="Microsoft.CodeAnalysis.CSharp.Features">
    <Rule Id="IDE0051" Action="Error" />
    <Rule Id="IDE0060" Action="Error" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.NetAnalyzers" RuleNamespace="Microsoft.CodeAnalysis.NetAnalyzers">
    <Rule Id="CA1823" Action="Warning" />
  </Rules>
</RuleSet>